.todo-item {
    border-bottom: 1px solid #ededed;
    border-top: none;
    position: relative;
}

.todo-item .view {
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}

.todo-item .check-img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px;
}

.todo-item span {
    display: inline-block;
    padding: 15px;
}

.todo-complete {
    text-decoration: line-through;
    opacity: 0.3;
}

.todo-item:hover .destroy {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    border: none;
    color: #cc9a9a;
    background: none;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
    outline: none;
}

.destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    border: none;
    color: #cc9a9a;
    background: none;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.destroy::after {
    content: '×';
}